
  body {
    background: linear-gradient(72deg, #012ca3 1%, #2e7960 99%);
    display: block;
    margin: 8px;
    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
  }
  
  .menu li{
    font-size: 24px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
  }
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  .container li {
    list-style: none;
  }
  
  img {
    width: 300px;
    display: flex;
    border-radius: 50%;
    border: 3px solid rgb(250, 250, 255);
  }

  @media (max-width: 640px) {
    header,
    ul {
      flex-direction: column;
      align-items: unset;
    }
  }
  ul {
    justify-content: center;
  }
  